body {
    background-color: #9a7a65;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #603020;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
   
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    z-index: 9999;
  
}
.logo-image {
    width: 100px;
    height: 100px;
    margin-left: 180%;
}

.logo-text {
    font-family: 'Chela one', 'Lumanosimo';
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 10%;
   
}



.banner {
    padding: 20px;
    margin: 20px;
  
    text-align: center;
}


.banner img {
    max-width: 98%;
    height: auto;
    margin-left: 12px;
}


.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.button {
    display: inline-block;
    padding: 24px 48px;
    background-color: #f6f2f1;
    color: #603020;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    border-radius: 2px;
    font-family: 'Chela one', 'Lumanosimo';
    
}
.custom-image1 {
    padding: 3%;
}

.custom-image2 {
    padding: 3%;
}
.footer {
    background-color: #603020;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.footer-content {
    margin-bottom: 10px;
}
.back-to-top {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0f0f0e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.back-to-top.show {
    display: inline-block;
}

.back-to-top:hover {
    background-color: #9a7a65;
}
/*..........................*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #976453;
    padding: 20px;
    color: #fff;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}



address {
    font-style: normal;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li:before {
    content: "\2022";
    color: #603020;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}